* {
    font-family: "Poppins";
}

.content {
    background-color: white;
}

.icon {
    color: black;
}

.card {
    background-color: #00A9FF;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    width: 25rem;
}

.card-body {
    text-align: center;
    padding: 5px;
}

.card-text {
    font-size: 16px;
}

.card:hover {
    background-color: grey;
    transition: 0.3s;
}

.icons {
    color: white;
}

.sidemenu {}

.card-content > div {
    flex: 1 1 50%;
}

p_t {
    margin-bottom: 0px;
}

.card-body .row {
    display: flex !important;
    flex-wrap: wrap !important;
}

.card-body .col-6 {
    margin-bottom: 10px;
}

.project-status {
    margin: 2px 0; /* Adjust the top and bottom margins as needed */
}
.custom-col {
    padding-left: 5px;
    padding-right: 5px;
}

.no-gutters .card-text {
    margin-left:20px !important; /* Adjust as needed */
}

/* Center align the content */
.custom-col {
    display: flex;
    flex-direction: column;
    align-items: center!important;
}