*{
  font-family: "poppins",sans-serif;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  padding:0;
  
}    
  .headline {
    padding: 20px; 
    background-color: darkblue; 
    font-family: "poppins",sans-serif;
    font-size: 30px !important;
    font-weight: 700 !important; 
    color:white; 
    text-align: center;
  
  }
 