<<<<<<< HEAD
body{
    background-color:#EBEBEB;
}
.title{
    background-color:#00ACFF !important;
    color:white;
    
=======
body{
    background-color:#EBEBEB;
}
.title{
    background-color:#00ACFF !important;
    color:white;
    
>>>>>>> 71c6430a (updated)
}