
h1{
    text-align: center;
}
.form-label{
    margin-top: 2rem;
}
input{
    width:70% !important;
}
.form_inputs{
    margin-left:25% !important;
    }
.role{
    margin-bottom:5rem;
}   
.btn{
    margin-left:20%;
} 
.color{
    color: #00ACFF;
}