
body{
    background-color:#172C54;

}
.error{
    color:red;
}
.heading{
    
    color:white;
}
.form-label{
    color:white;
    font-size:22px;
}
.sign_div{
    border: 1px solid white;
    width:40%;
    margin-left:450px;
    margin-top:150px;
    box-shadow: 5px 15px 25px rgba(0,0,0,1.5);
    padding:10px;
}
.form-input{
    width: 80%;
    

}
.form_div{
    margin-left:50px;
}
.sign_div:hover{
    transform: scale(1.1);
}
.divider-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 80%;
  }
  .divider-wrapper::before,
  .divider-wrapper::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid white;
  }
  .divider-wrapper:not(:empty)::before {
    margin-right: .75em;
  }
  .divider-wrapper:not(:empty)::after {
    margin-left: .75em;
  }
  .divider-text {
    color: white !important;
  }
  .icon_btn{
    padding-left:1.5rem;
    padding-right:1.5rem;
  }
.icon_btn:hover{
    background-color:gray !important;
    transform: scale(0.9);
    transition:0.4s;
}
.btn{
  width:15rem;
}