<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='reg.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Complete Registration</h1>
        <form method="POST" action="{{ url_for('complete_registration') }}">
            
           <div class="form_inputs">
            <div class="mb-3 color">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control form-input" id="name" name="name">
            </div>
            <div class="mb-3 color">
                <label for="mobile" class="form-label">Mobile Number</label>
                <input type="text" class="form-control form-input" id="mobile" name="mobile">
            </div>
            <div class="mb-3">
                <label for="role" class="form-label color">Role</label>
                <select name="role" class="form-select role color" style="width: 200px;" required>
                    <option value="">Select</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                    <option value="interviewer">Interviewer</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Complete Registration</button>
           </div>
        </form>
    </div>
</body>
</html>