<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9fe3d1bfff.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9fe3d1bfff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <style>
      .card-body .row {
        margin-left: 0;
        margin-right: 0;
      }
      .card-body .col-6 {
        padding-left: 0;
        padding-right: 0;
      }
      .label{
          color:#00A9FF;
          font-size:18px;
      } 
      .filter{
        width: 90%;
        margin-left: 3rem;
      }  
      select{
        width: 7rem;
      }
    </style>
    <script>
      var project="{{project}}"
      var designation="{{designation}}"
      var locations="{{location}}"
      
      
    </script>
  </head>
  <body>
    <div style="display: flex;">
      {% include 'sidemenu.html' %}
      
      <div class="content" style="padding:10px; height: 100vh; width:100%; margin-left: 150px;">

        {% if user_role == 'admin' %}
          <div>
            
            <h1 style="margin-bottom:3rem;"><center>Employee Dashboard</center></h1>
            <div class="filter_div">
              <div class="filter" style="display: flex; justify-content: space-between;margin-bottom: 10px;">
                <div >
                  <label for="project" class="label">Project:</label>
                  <select name="project" id="project" class="select_project" onchange="handleFilters()">
                    <option value=" ">Select</option>
                  </select>  
                </div>
                <div>
                  <label for="designation" class="label">Designation:</label>
                  <select name="designation" id="designation" onchange="handleFilters()">
                    <option value="">Select</option>
                  </select>
                  
                </div>
                <div>
                  <label for="location" class="label">Location:</label>
                  <select name="location" id="location" onchange="handleFilters()">
                    <option value="">Select</option>
                    
                  </select>
                </div>
                

            </div>
            <div class="flex_div" style="flex: 1; justify-content: space-between;">
              <div class="row row-cols-1 row-cols-md-3 g-4" style="padding: 10px;">
                <div class="col">
                  <div class="card h-100" >
                    
                    <div class="card-body" >
                      <i class="fa-solid fa-2x fa-users icons" style="margin-bottom: 20px;"></i>
                      
                      <p class="card-text">
                        Total number of employees: {{ employee_status_counts['Total'] }}
                      </p>
                      
                      <!-- Show other statuses -->
                      {% for status, count in employee_status_counts.items() %}
                        {% if status != 'Total' %}
                          <p class="card-text">Number of {{ status }} employees: {{ count }}</p>
                        {% endif %}
                      {% endfor %}
                      
                    </div>
                  </div>
                </div>
                
                
                <div class="col">
                  <div class="card h-80">
                    <div class="card-body" style="max-height:12.8rem; overflow-y: auto;">
                      <i class="fa-solid fa-location-dot fa-2x" style="color: black; margin-bottom: 10px;"></i>
                      {% for location, count in location_counts.items() %}
                        <p class="card-text" style="margin-bottom: 0.85rem;">{{ location }} employees count: {{ count }}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-80">
                    <div class="card-body" style="max-height:12.8rem; overflow-y: auto;"> <!-- Set a fixed height and enable scrolling -->
                      
                      <div class="row" >
                        <div class="col-12"> <!-- Changed to a single column -->
                          <i class="fa-solid fa-clipboard-list icon fa-2x" style="margin-bottom: 10px;"></i>
                          {% for project, count in projects_counts.items() %}
                            <p style=" margin-bottom:1rem;">{{ project }} employees count: {{ count }}</p>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-80">
                    <div class="card-body" style="max-height:12.8rem; overflow-y: auto;">
                      <i class="fa-solid fa-briefcase icon fa-2x" style="margin-bottom: 10px;"></i>
                      {% for Emp_stat, count in Employment_status_counts.items() %}
                        <p class="card-text" style="margin-bottom: 0.85rem;">{{ Emp_stat }} employees count: {{ count }}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <img src="https://banner2.cleanpng.com/20190724/geb/kisspng-product-design-technology-font-5d385089740a08.2768103715639717214753.jpg" height="50px" width="50px" class="icons">
                      <p class="card-text">No of Applications: {{total_resumes}}</p>
                      <p class="card-text">No of applications selected :{{hr_selected}}</p>
                    </div>
                  </div>
                </div>
                
                

                
                </div>
                
            </div>
            <hr>
          </div>
        {% endif %}  
      <h1 style="padding:20px;"><center>Resume Dashboard</center></h1>
      <div class="filter" style="display: flex; justify-content: space-between;margin-bottom: 10px;">
                <div>
                  <label for="week" class="label">Week:</label>
                  <select name="week" id="week" class="select_project" onchange="handleFilters()">
                    <option value=" ">Select</option>
                      {% for w in ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5'] %}
                        <option value="{{ w }}" {% if w == week_filter %}selected{% endif %}>{{ w }}</option>
                      {% endfor %}
                  </select>  
                </div>
                <div>
                  <label for="month" class="label">Month:</label>
                  <select name="month" id="month" class="select_project" onchange="handleFilters()">
                    <option value=" ">Select</option>
                    {% for month in months %}
                        <option value="{{ month }}" {% if month == month_filter %}selected{% endif %}>{{ month }}</option>
                    {% endfor %}
                  </select>  
                </div>
                
                

            </div>
      <div class="flex_div" style="flex: 1; justify-content: space-between; margin-bottom: 20rem !important;">
        <div class="row row-cols-1 row-cols-md-3 g-4" style="padding: 10px;">
            <!-- Role based count -->

      <div class="col" style="margin-bottom: 2rem;">
        <div class="card h-100">
          <div class="card-body" style="max-height:19rem; overflow-y: auto; max-width:25.8rem; overflow-x: auto;">
            
            <table class="table table-bordered" style="box-shadow:0 8px 16px rgba(0, 0, 0, 0.3); border: 1px solid gray;">
              <thead>
                <span style="color: white; font-size:1.3rem;">Interview count based on Role</span>
                <tr>
                    <th class="head">Result</th>
                    <th class="head">Jr QA Engg</th>
                    <th class="head">QA Engg</th>
                    <th class="head">Sr QA Engg</th>
                    <th class="head">QA Lead</th>
                    <th class="head">Grand Total</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Intro round Selected</strong></td>
                <td>{{ role_statistics.get('Jr. QA Engineer', {}).get('intro', {}).get('selected', 0) }}</td>
                <td>
                  {{ role_statistics.get('QA Engineer', {}).get('intro', {}).get('selected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('Sr. QA Engineer', {}).get('intro', {}).get('selected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('QA Lead', {}).get('intro', {}).get('selected', 0) }}
                </td>
                <td>
                  <!-- Grand Total for the Intro round -->
                  {{ role_statistics.get('Jr. QA Engineer', {}).get('intro', {}).get('selected', 0) +
                    role_statistics.get('QA Engineer', {}).get('intro', {}).get('selected', 0) +
                    role_statistics.get('Sr. QA Engineer', {}).get('intro', {}).get('selected', 0)+
                    role_statistics.get('QA Lead', {}).get('intro', {}).get('selected', 0) }}
                </td>
              </tr>
              <tr>
                <td><strong>Intro round Rejected</strong></td>
                <td>{{role_statistics.get('Jr. QA Engineer', {}).get('intro', {}).get('rejected', 0)}}</td>
                <td>
                  {{ role_statistics.get('QA Engineer', {}).get('intro', {}).get('rejected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('Sr. QA Engineer', {}).get('intro', {}).get('rejected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('QA Lead', {}).get('intro', {}).get('rejected', 0) }}
                </td>
                  <td>
                    <!-- Grand Total for the Intro round -->
                    {{ role_statistics.get('Jr. QA Engineer', {}).get('intro', {}).get('rejected', 0) +
                      role_statistics.get('QA Engineer', {}).get('intro', {}).get('rejected', 0) +
                      role_statistics.get('Sr. QA Engineer', {}).get('intro', {}).get('rejected', 0) +
                      role_statistics.get('QA Lead', {}).get('intro', {}).get('rejected', 0) }}
                  </td>
                
              </tr>
              <tr>
                <td><strong>Intro round Hold</strong></td>
                <td>{{role_statistics.get('Jr. QA Engineer', {}).get('intro', {}).get('hold', 0)}}</td>
                <td>
                  {{ role_statistics.get('QA Engineer', {}).get('intro', {}).get('hold', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('Sr. QA Engineer', {}).get('intro', {}).get('hold', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('QA Lead', {}).get('intro', {}).get('hold', 0) }}
                </td>
                  <td>
                    <!-- Grand Total for the Intro round -->
                    {{ role_statistics.get('Jr. QA Engineer', {}).get('intro', {}).get('hold', 0) +
                      role_statistics.get('QA Engineer', {}).get('intro', {}).get('hold', 0) +
                      role_statistics.get('Sr. QA Engineer', {}).get('intro', {}).get('hold', 0) +
                      role_statistics.get('QA Lead', {}).get('intro', {}).get('hold', 0)
                     }}
                  </td>
                
              </tr>
              <tr>
                <td><strong>Interview 1 Selected</strong></td>
                <td>{{ role_statistics.get('Jr. QA Engineer', {}).get('interview1', {}).get('selected', 0) }}</td>
                <td>
                  {{ role_statistics.get('QA Engineer', {}).get('interview1', {}).get('selected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('Sr. QA Engineer', {}).get('interview1', {}).get('selected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('QA Lead', {}).get('interview1', {}).get('selected', 0) }}
                </td>
                <td>
                  <!-- Grand Total for the Intro round -->
                  {{ role_statistics.get('Jr. QA Engineer', {}).get('interview1', {}).get('selected', 0) +
                     role_statistics.get('QA Engineer', {}).get('interview1', {}).get('selected', 0) +
                     role_statistics.get('Sr. QA Engineer', {}).get('interview1', {}).get('selected', 0)+
                     role_statistics.get('QA Lead', {}).get('interview1', {}).get('selected', 0) }}
                </td>
              </tr>
              <tr>
                <td><strong>Interview 1 Rejected</strong></td>
                <td>{{ role_statistics.get('Jr. QA Engineer', {}).get('interview1', {}).get('rejected', 0) }}</td>
                <td>
                  {{ role_statistics.get('QA Engineer', {}).get('interview1', {}).get('rejected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('Sr. QA Engineer', {}).get('interview1', {}).get('rejected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('QA Lead', {}).get('interview1', {}).get('rejected', 0) }}
                </td>
                <td>
                  <!-- Grand Total for the Intro round -->
                  {{ role_statistics.get('Jr. QA Engineer', {}).get('interview1', {}).get('rejected', 0) +
                     role_statistics.get('QA Engineer', {}).get('interview1', {}).get('rejected', 0) +
                     role_statistics.get('Sr. QA Engineer', {}).get('interview1', {}).get('rejected', 0) +
                     role_statistics.get('QA Lead', {}).get('interview1', {}).get('rejected', 0) }}
                </td>
              </tr>
              <tr>
                <td><strong>Interview 1 Hold</strong></td>
                <td>{{ role_statistics.get('Jr. QA Engineer', {}).get('interview1', {}).get('hold', 0) }}</td>
                <td>
                  {{ role_statistics.get('QA Engineer', {}).get('interview1', {}).get('hold', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('Sr. QA Engineer', {}).get('interview1', {}).get('hold', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('QA Lead', {}).get('interview1', {}).get('hold', 0) }}
                </td>
                <td>
                  <!-- Grand Total for the Intro round -->
                  {{ role_statistics.get('Jr. QA Engineer', {}).get('interview1', {}).get('hold', 0) +
                     role_statistics.get('QA Engineer', {}).get('interview1', {}).get('hold', 0) +
                     role_statistics.get('Sr. QA Engineer', {}).get('interview1', {}).get('hold', 0)+
                     role_statistics.get('QA Lead', {}).get('interview1', {}).get('hold', 0)  }}
                </td>
              </tr>
              <tr>
                <td><strong>Interview 2 Selected</strong></td>
                <td>{{ role_statistics.get('Jr. QA Engineer', {}).get('interview2', {}).get('selected', 0) }}</td>
                <td>
                  {{ role_statistics.get('QA Engineer', {}).get('interview2', {}).get('selected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('Sr. QA Engineer', {}).get('interview2', {}).get('selected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('QA Lead', {}).get('interview2', {}).get('selected', 0) }}
                </td>
                <td>
                  <!-- Grand Total for the Intro round -->
                  {{ role_statistics.get('Jr. QA Engineer', {}).get('interview2', {}).get('selected', 0) +
                     role_statistics.get('QA Engineer', {}).get('interview2', {}).get('selected', 0) +
                     role_statistics.get('Sr. QA Engineer', {}).get('interview2', {}).get('selected', 0)+
                     role_statistics.get('QA Lead', {}).get('interview2', {}).get('selected', 0) }}
                </td>
              </tr>
              <tr>
                <td><strong>Interview 2 Rejected</strong></td>
                <td>{{ role_statistics.get('Jr. QA Engineer', {}).get('interview2', {}).get('rejected', 0) }}</td>
                <td>
                  {{ role_statistics.get('QA Engineer', {}).get('interview2', {}).get('rejected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('Sr. QA Engineer', {}).get('interview2', {}).get('rejected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('QA Lead', {}).get('interview2', {}).get('rejected', 0) }}
                </td>
                <td>
                  <!-- Grand Total for the Intro round -->
                  {{ role_statistics.get('Jr. QA Engineer', {}).get('interview2', {}).get('rejected', 0) +
                     role_statistics.get('QA Engineer', {}).get('interview2', {}).get('rejected', 0) +
                     role_statistics.get('Sr. QA Engineer', {}).get('interview2', {}).get('rejected', 0)+
                     role_statistics.get('QA Lead', {}).get('interview2', {}).get('rejected', 0) }}
                </td>
              </tr>
              <tr>
                <td><strong>Interview 2 Hold</strong></td>
                <td>{{ role_statistics.get('Jr. QA Engineer', {}).get('interview2', {}).get('hold', 0) }}</td>
                <td>
                  {{ role_statistics.get('QA Engineer', {}).get('interview2', {}).get('hold', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('Sr. QA Engineer', {}).get('interview2', {}).get('hold', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('QA Lead', {}).get('interview2', {}).get('hold', 0) }}
                </td>
                <td>
                  <!-- Grand Total for the Intro round -->
                  {{ role_statistics.get('Jr. QA Engineer', {}).get('interview2', {}).get('hold', 0) +
                     role_statistics.get('QA Engineer', {}).get('interview2', {}).get('hold', 0) +
                     role_statistics.get('Sr. QA Engineer', {}).get('interview2', {}).get('hold', 0)+
                     role_statistics.get('QA Lead', {}).get('interview2', {}).get('hold', 0) }}
                </td>
              </tr>
              <tr>
                <td><strong>HR selected</strong></td>
                <td>{{ role_statistics.get('Jr. QA Engineer', {}).get('hr', {}).get('selected', 0) }}</td>
                <td>
                  {{ role_statistics.get('QA Engineer', {}).get('hr', {}).get('selected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('Sr. QA Engineer', {}).get('hr', {}).get('selected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('QA Lead', {}).get('hr', {}).get('selected', 0) }}
                </td>
                <td>
                  <!-- Grand Total for the Intro round -->
                  {{ role_statistics.get('Jr. QA Engineer', {}).get('hr', {}).get('selected', 0) +
                     role_statistics.get('QA Engineer', {}).get('hr', {}).get('selected', 0) +
                     role_statistics.get('Sr. QA Engineer', {}).get('hr', {}).get('selected', 0)+
                     role_statistics.get('QA Lead', {}).get('hr', {}).get('selected', 0) }}
                </td>
              </tr>
              <tr>
                <td><strong>HR Rejected</strong></td>
                <td>{{ role_statistics.get('Jr. QA Engineer', {}).get('hr', {}).get('rejected', 0) }}</td>
                <td>
                  {{ role_statistics.get('QA Engineer', {}).get('hr', {}).get('rejected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('Sr. QA Engineer', {}).get('hr', {}).get('rejected', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('QA Lead', {}).get('hr', {}).get('rejected', 0) }}
                </td>
                <td>
                  <!-- Grand Total for the Intro round -->
                  {{ role_statistics.get('Jr. QA Engineer', {}).get('hr', {}).get('rejected', 0) +
                     role_statistics.get('QA Engineer', {}).get('hr', {}).get('rejected', 0) +
                     role_statistics.get('Sr. QA Engineer', {}).get('hr', {}).get('rejected', 0)+
                     role_statistics.get('QA Lead', {}).get('hr', {}).get('rejected', 0) }}
                </td>
              </tr>
              <tr>
                <td><strong>HR Hold</strong></td>
                <td>{{ role_statistics.get('Jr. QA Engineer', {}).get('hr', {}).get('hold', 0) }}</td>
                <td>
                  {{ role_statistics.get('QA Engineer', {}).get('hr', {}).get('hold', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('Sr. QA Engineer', {}).get('hr', {}).get('hold', 0) }}
                </td>
                <td>
                  {{ role_statistics.get('QA Lead', {}).get('hr', {}).get('hold', 0) }}
                </td>
                <td>
                  <!-- Grand Total for the Intro round -->
                  {{ role_statistics.get('Jr. QA Engineer', {}).get('hr', {}).get('hold', 0) +
                     role_statistics.get('QA Engineer', {}).get('hr', {}).get('hold', 0) +
                     role_statistics.get('Sr. QA Engineer', {}).get('hr', {}).get('hold', 0)+
                     role_statistics.get('QA Lead', {}).get('hr', {}).get('hold', 0) }}
                </td>
              </tr>
              
              
            </tbody>
            </table>
            
          </div>
        </div>
      </div>
      <!-- Lead based count -->
      <div class="col">
        <div class="card h-100" style="max-height:19rem; overflow-y: auto; max-width:25.8rem; overflow-x: auto;">
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <span style="color: white; font-size:1.3rem;">Interview count based on QA leads</span>
                <tr>
                  <th class="head">Result</th>
                  {% for lead in lead_statistics.keys() %}
                    <th class="head">{{ lead }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Intro Round Selected</th>
                  {% for lead in lead_statistics.keys() %}
                    <td>{{ lead_statistics[lead]['intro']['selected'] }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Intro Round Rejected</th>
                  {% for lead in lead_statistics.keys() %}
                    <td>{{ lead_statistics[lead]['intro']['rejected'] }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Intro Round Hold</th>
                  {% for lead in lead_statistics.keys() %}
                    <td>{{ lead_statistics[lead]['intro']['hold'] }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Interview 1 Selected</th>
                  {% for lead in lead_statistics.keys() %}
                    <td>{{ lead_statistics[lead]['interview1']['selected'] }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Interview 1 Rejected</th>
                  {% for lead in lead_statistics.keys() %}
                    <td>{{ lead_statistics[lead]['interview1']['rejected'] }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Interview 1 Hold</th>
                  {% for lead in lead_statistics.keys() %}
                    <td>{{ lead_statistics[lead]['interview1']['hold'] }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Interview 2 Selected</th>
                  {% for lead in lead_statistics.keys() %}
                    <td>{{ lead_statistics[lead]['interview2']['selected'] }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Interview 2 Rejected</th>
                  {% for lead in lead_statistics.keys() %}
                    <td>{{ lead_statistics[lead]['interview2']['rejected'] }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Interview 2 Hold</th>
                  {% for lead in lead_statistics.keys() %}
                    <td>{{ lead_statistics[lead]['interview2']['hold'] }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>HR Selected</th>
                  {% for lead in lead_statistics.keys() %}
                    <td>{{ lead_statistics[lead]['hr']['selected'] }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>HR Rejected</th>
                  {% for lead in lead_statistics.keys() %}
                    <td>{{ lead_statistics[lead]['hr']['rejected'] }}</td>
                  {% endfor %}
                </tr>
                <tr>
                  <th>HR Hold</th>
                  {% for lead in lead_statistics.keys() %}
                    <td>{{ lead_statistics[lead]['hr']['hold'] }}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> 

      <!--  Overall count  -->
      <div class="col">
        <div class="card h-100" style="max-height:19rem; overflow-y: auto; max-width:25.8rem; overflow-x: auto;">
          
          <div class="card-body">
            <table class="table table-bordered">
              <span style="color: white; font-size:1.3rem;">Overall Interview count</span>
              <thead>
                <tr>
                  <th scope="col" class="head">Status</th>
                  <th scope="col" class="head">Count</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Intro Round Selected</th>
                  <td>{{ intro_counts['Move to Interview 1'] or 0 }}</td>
                </tr>
              
              <tr>
                <th>Intro Round Rejected</th>
                <td>{{ intro_counts['Rejected'] or 0 }}</td>
            </tr>
            <tr>
              <th>Intro Round Hold</th>
              <td>{{ intro_counts['On Hold'] or 0 }}</td>
          </tr>
            <tr>
              <th>L1 Selected</th>
              <td>{{ interview1_counts['Move to Interview 2'] }}</td>
            </tr>
            <tr>
              <th>L1 Rejected</th>
              <td>{{ interview1_counts['Rejected'] }}</td>
            </tr>
            <tr>
              <th>L1 Hold</th>
              <td>{{ interview1_counts['On Hold'] }}</td>
            </tr>
            <tr>
              <th>L2 Selected</th>
              <td>{{ interview2_counts['Move to HR Round'] }}</td>
            </tr>
            <tr>
              <th>L2 Rejected</th>
              <td>{{ interview2_counts['Rejected'] }}</td>
            </tr>
            <tr>
              <th>L2 Hold</th>
              <td>{{ interview2_counts['On Hold'] }}</td>
            </tr>
            <tr>
              <th>HR Selected</th>
              <td>{{ hr_counts['Move to HR Process'] }}</td>
            </tr>
            <tr>
              <th>HR Rejected</th>
              <td>{{ hr_counts['Rejected'] }}</td>
            </tr>
            <tr>
              <th>HR Hold</th>
              <td>{{ hr_counts['On Hold'] }}</td>
            </tr>
              <th>Grand Total</th>
              <td>{{ overall_counts['grand_total']}}</td>
            </tr>
              </tbody>
            
          </table>
            
          </div>
        </div>
      </div>
      
        </div>
      </div>
      
      </div>
     
    </div>
    <script src="{{ url_for('static', filename='config.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
    <script>
      function handleFilters() {
        const selectedProject = document.getElementById("project").value.trim();  // trim handles whitespace like " "
        const selectedDesignation = document.getElementById("designation").value.trim();
        const selectedLocation = document.getElementById("location").value.trim();
        const selectedWeek = document.getElementById("week").value.trim();
        const selectedMonth = document.getElementById("month").value.trim();
        const url = new URL(window.location.href);
    
        if (selectedProject === " ") {
          // Remove the filter if 'Select' is chosen
          url.searchParams.delete("project");
        } else {
          // Set project filter
          url.searchParams.set("project", selectedProject);
        }
        if (selectedDesignation === " ") {
          // Remove the filter if 'Select' is chosen
          url.searchParams.delete("deignation");
        } else {
          // Set project filter
          url.searchParams.set("designation", selectedDesignation);
        }
        if (selectedLocation === " ") {
          // Remove the filter if 'Select' is chosen
          url.searchParams.delete("location");
        } else {
          // Set project filter
          url.searchParams.set("location", selectedLocation);
        }
        if (selectedWeek === " ") {
          // Remove the filter if 'Select' is chosen
          url.searchParams.delete("week");
        } else {
          // Set project filter
          url.searchParams.set("week", selectedWeek);
        }
        if (selectedMonth === " ") {
          // Remove the filter if 'Select' is chosen
          url.searchParams.delete("month");
        } else {
          // Set project filter
          url.searchParams.set("month", selectedMonth);
        }
        // Redirect to the updated URL
        window.location.href = url.toString();
      }
    </script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>


    