<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9fe3d1bfff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='employee.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script>
        window.onload=function(){
            {% for resume in resumes %}
            getInterviewStatusAndToggleButtons({{ resume.id }});
            {% endfor %}
        };

        function getInterviewStatusAndToggleButtons(resumeId){
            fetch(`/get_interview_status/${resumeId}`)
        .then(response => response.json())
        .then(data => {
            toggleInterviewButtons(resumeId, data.intro_status,data.interview1_status,data.interview2_status);
        });
        }
        function toggleInterviewButtons(resumeId,introStatus,interview1Status,interview2Status){
            const introButton = document.getElementById(`introButton${resumeId}`);
            const interview1Button = document.getElementById(`interview1Button${resumeId}`);
            const interview2Button=document.getElementById(`interview2Button${resumeId}`);
            const hrButton=document.getElementById(`hrButton${resumeId}`)
            if (introStatus === "Intro call not conducted" ||introStatus === "Rejected" ) {
            // If Intro call not conducted, hide Interview 1 button
            interview1Button.style.display = "none";
            interview2Button.style.display="none";
            hrButton.style.display="none";
        }
            if (interview1Status === "Interview 1 not conducted" || interview1Status === "Rejected"){
                interview2Button.style.display="none";
                hrButton.style.display="none";
            }
            if (interview2Status==="Interview 2 not conducted" || interview2Status==="Rejected"){
                hrButton.style.display="none"
            }

        }
    </script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert alert-danger add_flash_message" role="alert">
                {{ message }}
            </div>
            {% elif category == 'success' %}
            <div class="alert alert-success add_flash_message" role="alert">
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    {% endwith %}     
    <div class="first_div">
        {% include 'sidemenu.html'%}

        <div style=" margin-left:8rem;overflow-x: auto;width: 140%;">
            <div class="filters" style="margin-bottom: 20px;">
                <h1 style="text-align: center;  background-color:#4699F9;color: white">Employee resumes</h1>
                <div class="flex" style="display: flex; justify-content: space-between; align-items: center;">
                    <div style="margin-bottom: 20px; margin-top: 20px;">
                        <label for="introFilter" >Intro Call Status:</label>
                        <select  id="introFilter" onchange="filterTableByIntroStatus()" style="margin-bottom: 20px; margin-top: 20px;">
                            <option value="">Select</option>
                            
                        </select>
                    </div>
                    <div style="margin-bottom: 20px; margin-top: 20px;">
                        <label for="interview1Filter" >Interview 1 Status:</label>
                        <select id="interview1Filter" onchange="filterTableByInterview1Status()" style="margin-bottom: 20px; margin-top: 20px;">
                            <option value="">Select</option>
                            
                        </select>
                    </div>
                    <div style="margin-bottom: 20px; margin-top: 20px;">
                        <label for="interview2Filter">Interview 2 Status:</label>
                        <select id="interview2Filter" onchange="filterTableByInterview2Status()" style="margin-bottom: 20px; margin-top: 20px;">
                            <option value="">Select</option>
                           
                        </select>
                    </div>
                    <div style="margin-bottom: 20px; margin-top: 20px;">
                        <label for="allRoundsFilter">All rounds cleared:</label>
                        <select id="allRoundsFilter" onchange="filterTableByAllRoundsStatus()" style="margin-bottom: 20px; margin-top: 20px;">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div style="margin-bottom: 20px; margin-top: 20px;">
                        <label for="month">Month:</label>
                        <select id="month"  style="margin-bottom: 20px; margin-top: 20px;">
                            <option value="">Select</option>
                            <option value="">January</option>
                        </select>
                    </div>
                </div>
            </div>
            
            
            
            <div class="table-responsive my-4" style="overflow-x:auto;">
                <table class="table table-striped table-bordered" >
                    <colgroup>
                        <col style="width:2%;">  <!-- ID -->
                        <col style="width:10%;"> <!-- Candidate Name -->
                        <col style="width:7%;"> <!-- Email -->
                        <col style="width:7%;"> <!-- Contact Number -->
                        <col style="width:7%;"> <!-- Qualification -->
                        <col style="width:8%;"> <!-- Experience/Fresher -->
                        <col style="width: 10%;"> <!-- QA Lead Assigned -->
                        <col style="width:8%;"> <!-- Location -->
                        <col style="width: 10%;"> <!-- Role -->
                        <col style="width:12%;"> <!-- Others -->
                        <col style="width:10%;">  <!-- Action -->
                        <col style="width:8%;"> <!-- Interview Details -->
                        <col style="width: 5%;">  <!-- Delete -->
                        <col hidden>               <!-- Intro Status (hidden) -->
                    </colgroup>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Candidate Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Contact number</th>
                            <th scope="col">Qualification</th>
                            <th scope="col">Experience/Fresher</th>
                            <th scope="col">QA Lead Assigned</th>
                            <th scope="col">Location</th>   
                            <th scope="col">Role</th>
                            <th scope="col">Others</th>
                            <th scope="col">Action</th>
                            <th scope="col">Interview Details</th>
                            <th scope="col">Delete</th>
                            <th scope="col" hidden>intro status</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for resume in resumes.items %}
                            <tr>
                                <td>{{ start_index + loop.index }}</td>
                                <td>
                                    {% if resume.Link %}
                                    <a href="{{resume.Link}}" class="long-filename  text-break" target="_blank">{{ resume.Name }}</a>
                                    {% else %}  
                                    <a href="{{ url_for('view_resume', filename=resume.filename) }}" class="long-filename  text-break" target="_blank">{{ resume.filename }}</a>
                                    {% endif %}
                                    <a href="#" style="font-size: 32px; margin-left: 20px; color: red;" onclick="getInterviewStatus(event,{{resume.id}})"><i class="fa-solid fa-info" style="font-size: 20px;"></i></a>
                                    <div id="toggle{{ resume.id }}" style="display: none;">
                                        <div id="introStatus{{ resume.id }}" style="margin-bottom: 3px; margin-top:5px;"></div>
                                        <div id="interview1Status{{ resume.id }}" style="margin-bottom: 3px;"></div>
                                        <div id="interview2Status{{ resume.id }}" style="margin-bottom: 3px;"></div>
                                        <div id="hrStatus{{ resume.id }}" style="margin-bottom: 3px;"></div>
                                    </div>
                                </td>
                                <td>
                                    {% if resume.Email %}
                                    {{ resume.Email }}
                                    {% else %}   
                                    <button class="btn btn-primary" id="btn_name{{resume.id}}"  onclick="showInput({{resume.id}})" title="add"><i class="fa-solid fa-user-plus icons" style="color: white;"></i></button>
                                    <div style="display: none;" id="name{{resume.id}}">
                                        <input type="text" id="nameInput{{resume.id}}" required>
                                        <center><button class="btn btn-primary sub" id="submitBtn{{resume.id}}" onclick="submitName({{resume.id}})">Submit</button></center>
                                    </div>
                                    
                                    <div id="div_name{{resume.id}}" style="display: none;" onclick="editName({{resume.id}})"></div>
                                    {% endif %}
                                    </td>
                                    
                                <td style="margin: auto;">
                                    {% if resume.Phone %}
                                    {{ resume.Phone }}
                                    {% else %} 
                                    <button class="btn btn-primary" id="btn_contact{{resume.id}}" onclick="showContactInput({{resume.id}})" title="add"><i class="fa-solid fa-user-plus icons" style="color: white;"></i></button>
                                    <div style="display: none;" id="contact{{resume.id}}">
                                        <input type="text" id="contactInput{{resume.id}}" required>
                                        <center><button class="btn btn-primary sub" id="submitBtnContact{{resume.id}}" onclick="submitContact({{resume.id}})">Submit</button></center>
                                    </div>
                                    <div id="div_contact{{resume.id}}" style="display: none;" onclick="editContact({{resume.id}})"></div>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if resume.Qualification %}
                                    {{ resume.Qualification }}
                                    {% else %} 
                                    <button class="btn btn-primary" id="btn_actualCTC{{resume.id}}" onclick="showActualCTCInput({{resume.id}})" title="add"><i class="fa-solid fa-user-plus icons" style="color: white;"></i></button>
                                    <div style="display: none;" id="actualCTC{{resume.id}}">
                                        <input type="text" id="actualCTCInput{{resume.id}}">
                                        <center><button class="btn btn-primary sub" id="submitBtnActualCTC{{resume.id}}" onclick="submitActualCTC({{resume.id}})">Submit</button></center>
                                    </div>
                                    <div id="div_actualCTC{{resume.id}}" style="display: none;" onclick="editActualCTC({{resume.id}})"></div>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if resume.Experience %}
                                    {{ resume.Experience }}
                                    {% else %} 
                                    <button class="btn btn-primary" id="btn_expectedCTC{{resume.id}}" onclick="showExpectedCTCInput({{resume.id}})" title="add"><i class="fa-solid fa-user-plus icons" style="color: white;"></i></button>
                                    <div style="display: none;" id="expectedCTC{{resume.id}}">
                                        <input type="text" id="expectedCTCInput{{resume.id}}">
                                        <center><button class="btn btn-primary sub" id="submitBtnExpectedCTC{{resume.id}}" onclick="submitExpectedCTC({{resume.id}})">Submit</button></center>
                                    </div>
                                    <div id="div_expectedCTC{{resume.id}}" style="display: none;" onclick="editExpectedCTC({{resume.id}})"></div>  
                                    {% endif %}
                                </td>
                                <td>
                                    {% if resume.QA_Lead %}
                                    {{ resume.QA_Lead }}
                                    {% else %} 
                                    <button class="btn btn-primary" id="btn_role{{resume.id}}" onclick="showRoleInput({{resume.id}})" title="add"><i class="fa-solid fa-user-plus icons" style="color: white;"></i></button>
                                    <div style="display: none;" id="role{{resume.id}}">
                                        <input type="text" id="roleInput{{resume.id}}">
                                        <center><button class="btn btn-primary sub" id="submitBtnRole{{resume.id}}" onclick="submitRole({{resume.id}})">Submit</button></center>
                                    </div>
                                    <div id="div_role{{resume.id}}" style="display: none;" onclick="editRole({{resume.id}})"></div>  
                                    {% endif %}
                                </td>
                                <td>
                                    {% if resume.Location %}
                                    {{ resume.Location }}
                                    {% else %} 
                                    <button class="btn btn-primary" id="btn_location{{resume.id}}" onclick="showLocationInput({{resume.id}})" title="add"><i class="fa-solid fa-user-plus icons" style="color: white;"></i></button>
                                    <div style="display: none;" id="location{{resume.id}}">
                                        <input type="text" id="locationInput{{resume.id}}">
                                        <center><button class="btn btn-primary sub" id="submitBtnLocation{{resume.id}}" onclick="submitLocation({{resume.id}})">Submit</button></center>
                                    </div>
                                    <div id="div_location{{resume.id}}" style="display: none;" onclick="editLocation({{resume.id}})"></div>
                                    {% endif %}  
                                </td>
                                <td>
                                    {{resume.Role}}
                                </td>
                                <td>
                                    <div>
                                        {% if resume.Expected_CTC %}
                                            <p>Expected CTC: {{ resume.Expected_CTC }}</p>
                                        {% endif %}

                                        {% if resume.Actual_CTC %}
                                            <p>Actual CTC: {{ resume.Actual_CTC }}</p>
                                        {% endif %}

                                        {% if resume.Notice_period %}
                                            <p>Notice Period: {{ resume.Notice_period }}</p>
                                        {% endif %}

                                        {% if not (resume.Expected_CTC or resume.Actual_CTC or resume.Notice_period) %}
                                            <p>Nil</p>
                                        {% endif %}

                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a id="introButton{{ resume.id }}" href="{{ url_for('introCall', resume_id=resume.id) }}" class="btn btn-primary mx-1 my-2 " title="Intro call">Intro</a>
                                        <a id="interview1Button{{ resume.id }}" href="{{ url_for('interview1v', resume_id=resume.id) }}" class="btn btn-primary mx-1 my-2" title="Interview 1"><i class="fa-solid fa-phone"></i> 1</a>
                                        <a id="interview2Button{{ resume.id }}" href="{{ url_for('interview2v', resume_id=resume.id) }}" class="btn btn-primary mx-1 my-2 " title="Interview 2"><i class="fa-solid fa-phone"></i> 2</a>
                                        <a id="hrButton{{ resume.id }}" href="{{ url_for('hr', resume_id=resume.id) }}" class="btn btn-primary mx-1 my-2" title="HR round">HR</a>
                                    </div>
                                    
                                </td>
                               <td><a href="{{url_for('resume_details',resume_id=resume.id)}}" class="btn btn-primary mx-1" title="view"><i class="fa-solid fa-eye mx-2" style="color:white;"></i></a></td>
                               <td>
                                    <form action="{{ url_for('delete_resume', resume_id=resume.id) }}" method="POST" onsubmit="return handleDelete({{resume.id}}, this, '{{ resume.filename }}')">
                                        <button type="submit" class="btn btn-danger" title="Delete"><i class="fa-solid fa-trash"></i></button>
                                    </form>
                                </td>
                               <td id="intro_status" data-resume-id="{{ resume.id }}" hidden></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="display: flex !important; align-items: center !important; gap: 2rem; align-items: center; margin-top: 10rem; margin-left:25%; position: fixed;">
                <div>
                    {% for page_num in resumes.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
                    {% if page_num %}
                    {% if resumes.page == page_num%}
                        <a class="btn btn-info mb-4" href="{{url_for('employee',page=page_num)}}" style="color: black;  ">{{page_num}}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{url_for('employee',page=page_num)}}" style="color: black; ">{{page_num}}</a>
                    {% endif %}
                    {% else%}
                    ...
                    {% endif %}
                {% endfor %}
                    </div>
                <div>
                    <form method="POST">
                    Select Page Size:
                    <select name="page_size" class="option" style="width: 5rem !important; margin-bottom: 2rem;font-size:16px;">
                        {% for option in page_size_options %}
                        <option value="{{ option }}" {% if option == selected_page_size %}selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary" style="width:9rem!important; margin-left:20px !important;">Change Page Size</button>
                    </form>
                </div>
                
                <div style="margin-bottom: 2rem;">
                    Page {{ resumes.page }} of {{total_pages }} | Total Resumes: {{ total_items }}
                </div>
                
                </div>
                
            </div>   
            
    </div>
    
                        
    </div>
    
    
    <script src="{{ url_for('static', filename='config.js') }}"></script>   
    <script src="{{ url_for('static', filename='employee.js') }}"></script>

    <script>
        {% for resume in resumes %}
            var storedName{{resume.id}}=localStorage.getItem('enteredName{{ resume.id }}');
            if (storedName{{ resume.id }}){
                document.getElementById('btn_name{{ resume.id }}').style.display = 'none';
                document.getElementById('div_name{{ resume.id }}').innerHTML = storedName{{ resume.id }};
                document.getElementById('div_name{{ resume.id }}').style.display = 'block';
            }
            var storedActualCTC{{resume.id}} = localStorage.getItem('enteredActualCTC{{resume.id}}');
        if (storedActualCTC{{resume.id}}) {
            document.getElementById('btn_actualCTC{{resume.id}}').style.display = 'none';
            document.getElementById('div_actualCTC{{resume.id}}').innerHTML = storedActualCTC{{resume.id}};
            document.getElementById('div_actualCTC{{resume.id}}').style.display = 'block';
        }

        // Check for stored data for Expected CTC
        var storedExpectedCTC{{resume.id}} = localStorage.getItem('enteredExpectedCTC{{resume.id}}');
        if (storedExpectedCTC{{resume.id}}) {
            document.getElementById('btn_expectedCTC{{resume.id}}').style.display = 'none';
            document.getElementById('div_expectedCTC{{resume.id}}').innerHTML = storedExpectedCTC{{resume.id}};
            document.getElementById('div_expectedCTC{{resume.id}}').style.display = 'block';
        }

        // Check for stored data for Role
        var storedRole{{resume.id}} = localStorage.getItem('enteredRole{{resume.id}}');
        if (storedRole{{resume.id}}) {
            document.getElementById('btn_role{{resume.id}}').style.display = 'none';
            document.getElementById('div_role{{resume.id}}').innerHTML = storedRole{{resume.id}};
            document.getElementById('div_role{{resume.id}}').style.display = 'block';
        }
        var storedLocation{{resume.id}} = localStorage.getItem('enteredLocation{{resume.id}}');
        if (storedLocation{{resume.id}}) {
            document.getElementById('btn_location{{resume.id}}').style.display = 'none';
            document.getElementById('div_location{{resume.id}}').innerHTML = storedLocation{{resume.id}};
            document.getElementById('div_location{{resume.id}}').style.display = 'block';
        }
        var storedContact{{resume.id}} = localStorage.getItem('enteredContact{{resume.id}}');
        if (storedContact{{resume.id}}) {
            document.getElementById('btn_contact{{resume.id}}').style.display = 'none';
            document.getElementById('div_contact{{resume.id}}').innerHTML = storedContact{{resume.id}};
            document.getElementById('div_contact{{resume.id}}').style.display = 'block';
        }
        {% endfor %}
        function handleDelete(resumeId, form, filename) {
            if (!confirm('Are you sure you want to delete ' + filename + '?')) {
            return false; // Prevent form submission if user cancels
        }

        var fields = ['Name', 'Contact', 'Location', 'Role', 'ExpectedCTC', 'ActualCTC'];
        fields.forEach(function(field) {
            var itemKey = 'entered' + field + resumeId;
            var enteredValue = localStorage.getItem(itemKey);
            if (enteredValue) {
                // alert('Deleting item: ' + enteredValue);
                localStorage.removeItem(itemKey);
            } else {
                // alert('No item found in local storage for key: ' + itemKey);
            }
        });

        return true;
        }
    </script>
</body>
</html>

